<h3 style="color: white; font-size: 35px; text-align: center;">Password reset</h3>
<style>
    body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #101820ff !important;
		}

</style>
<body>
<p style="color: white; font-size: 20px; text-align: center;">Forgotton your password? Enter you email address and we will sent you instructions to reset it.</p>

<form method="post" style="text-align: center; color: white; font-size: 25px;">
    {% csrf_token %}
    {{form}}
    <input type="Submit" name="Send email">
</form>
</body>
<footer style="text-align: center; color: white;">All Rights Reserved. © 2021 BudgetBucks</footer>