<h3 style="color: white; font-size: 35px; text-align: center;">Password reset sent</h3>
<style>
    body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #101820ff !important;
		}

</style>
<body>
<p style="color: white; font-size: 20px; text-align: center;">We've emailed you instructions for resetting your password.<br>If you haven't received an email, please double check your email and check your spam folder.</p>

</body>
<footer style="text-align: center; color: white;">All Rights Reserved. © 2021 BudgetBucks</footer>


