<h3 style="color: white; font-size: 35px; text-align: center;">Password reset complete</h3>
<style>
    body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #101820ff !important;
		}

</style>
<body>
<p style="color: white; font-size: 20px; text-align: center;">Your password has been successfully changed. You can go ahead and log in now.</p>

<a href="{% url 'login' %}">Login In</a>
</body>
<footer style="text-align: center; color: white;">All Rights Reserved. © 2021 BudgetBucks</footer>
